<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h3>
    Welcome to {{ title }} Application
  </h3>
  <hr>
  <div>
    <ul id="menu">
      <li> <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        All Events</a> &nbsp; &nbsp; &nbsp;</li>
      <li> <a [routerLink]="['/events/new']" routerLinkActive="active">Create Event</a> &nbsp; &nbsp; &nbsp;</li>
      <li> <a [routerLink]="['events/session/new']" routerLinkActive="active">Create a Session</a> &nbsp; &nbsp; &nbsp;</li>
      <li> <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']" routerLinkActive="active">Login</a> &nbsp; &nbsp; &nbsp;</li>   
      <li> <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']" routerLinkActive="active">Welcome {{auth.currentUser.firstName}}</a> </li>
    </ul>
  </div>
  <hr>
  <router-outlet></router-outlet>
</div>